@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0e1b2b;
}

::-webkit-scrollbar-thumb {
  background-color: #233f80;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:active {
  background-color: #192f60;
}
::selection {
  background-color: #f7efdd;
  color: white;
}

:root {
  font-family: 'ADLaM Display', system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;

  /* Darker variants for hover */
  --swiper-navigation-size: 30px !important;
  --swiper-theme-color: #edc048 !important;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
}

/* Feedback */
.swiper {
  padding: 20px 0;
}

.swiper-slide {
  width: 370px !important;
  padding: 0 -20px;
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #b88e45;
}

/* Footer of about */

.long-term-relationship .footer-of-about {
  background-color: #000016;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1% 10% 1% 10%;
}

.long-term-relationship .footer-of-about-title {
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 1px;
  color: #f7efdd;
}

/* Footer of about */

.footer-of-about {
  background-color: #000016;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1% 10% 1% 10%;
}
.footer-of-about-title {
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 1px;
}

/* Footer of about */

.footer-about {
  background-color: #000016;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.footer-about-title {
  font-size: 1.3rem;
  padding: 20px 25px;
  color: #fff;
}

/* card */
.Conservation {
  margin: 10% 5% 5% 5%;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 15px 15px 30px 15px;
}

.card {
  width: 300px;
  height: 400px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.2s;
}
.card-project {
  width: 600px;
  height: 800px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.2s;
}

.card:hover,
.card-project:hover {
  scale: 1.01;
}

.card img,
.card-project img {
  width: auto;
  height: 250px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Conservation h2,
.card-project h2 {
  text-align: center;
  margin-bottom: 20px;
}
.card h3,
.card-project h3 {
  font-size: 1.2rem;
  color: #333;
}
.card-project p {
  font-size: 0.9rem;
}

.container {
  width: 90%;
  margin: 20px auto;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
}
table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
table th {
  background-color: #4caf50;
  color: white;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* footer */

.footer {
  background-color: #000016;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 1px;
}

.footer-title span a {
  text-decoration: none;
  color: #3a6cf4;
  font-size: 1.2em;
}

.footer-title span a:hover {
  color: red;
}

.footer-title .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}
